@page "/historial-stock"
@inject IHttpServicio http
@inject NavigationManager navigationManager

<div class="card shadow-sm border-0 p-4">

    <!-- Encabezado -->
    <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-3">


        <button class="btn-volver btn-sm mb-3" @onclick="Volver">
            <i class="bi bi-arrow-left-circle"></i> Volver
        </button>

        <!-- Título -->
        <div class="flex-grow-1 text-center">
            <h3 class="fw-bold mb-1">Historial de Movimientos</h3>
            <small class="text-muted">Control de entradas y salidas de productos</small>
        </div>

        <!-- Filtro -->
        <div class="d-flex align-items-center gap-2">
            <InputDate @bind-Value="fechaSeleccionada" class="form-control form-control-sm" />
            <button class="btn-aplicar btn-sm" @onclick="Leer">
            <i class="bi bi-search"></i> Aplicar
            </button>
        </div>

    </div>

    <!-- Tarjetas Totales -->
    <div class="d-flex gap-3 mb-4">
        <div class="card total-card shadow-custom flex-fill p-3 text-center">
            <h6 class="text-muted">INGRESOS HOY</h6>
            <h2 class="text-success fw-bold">@TotalIngresosHoy</h2>
        </div>

        <div class="card total-card shadow-custom flex-fill p-3 text-center">
            <h6 class="text-muted">EGRESOS HOY</h6>
            <h2 class="text-danger fw-bold">@TotalEgresosHoy</h2>
        </div>
    </div>

    <!-- Tabla -->
    <div class="table-responsive">
        <table class="table align-middle table-hover text-center tabla-mov">
            <thead>
                <tr>
                    <th>ID Mov.</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                </tr>
            </thead>

            <tbody>
                @if (listaStock == null)
                {
                    <tr><td colspan="4" class="text-muted">Buscando registros...</td></tr>
                }
                else if (listaStock.Count == 0)
                {
                    <tr><td colspan="4" class="text-muted">No se encontraron registros.</td></tr>
                }
                else
                {
                    @foreach (var item in listaStock)
                    {
                        <tr>
                            <td>@item.Id.ToString("D3")</td>
                            <td>@item.Producto.Nombre @item.Producto.Presentacion</td>
                            <td class="fw-bold"
                                style="color:@(item.Movimiento == "Entrada" ? "#16a34a" : "#dc2626")">
                                @(item.Movimiento == "Entrada" ? "+" : "-")@Math.Abs(item.Cantidad)
                            </td>
                            <td>@item.FechaActualizacio.ToString("dd MMM yyyy")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    DateTime fechaSeleccionada = DateTime.Today;
    int TotalIngresosHoy = 0;
    int TotalEgresosHoy = 0;
    List<Stock> listaStock = new();

    protected override async Task OnInitializedAsync()
    {
        await Leer();
        await CargarTotalesHoy();
    }

    private async Task Leer()
    {
        var fechaStr = fechaSeleccionada.ToString("yyyy-MM-dd");
        var resp = await http.Get<List<Stock>>($"api/Stock/filter?fecha={fechaStr}");
        listaStock = resp.Error ? new() : resp.Respuesta;
    }

    private async Task CargarTotalesHoy()
    {
        var resp = await http.Get<List<Stock>>("api/Stock/movimientos-hoy");

        if (!resp.Error && resp.Respuesta != null)
        {
            TotalIngresosHoy = resp.Respuesta.Where(x => x.Movimiento == "Entrada").Sum(x => x.Cantidad);
            TotalEgresosHoy = resp.Respuesta.Where(x => x.Movimiento == "Salida").Sum(x => Math.Abs(x.Cantidad));
        }
    }

    private void Volver()
    {
        navigationManager.NavigateTo("/stock/gestionar");
    }

    int pagina = 1;
    int registrosPorPagina = 10;

    int totalPaginas = 1;
    List<Stock> paginaActual = new();


    void CalcularPaginacion()
    {
        if (listaStock == null || listaStock.Count == 0)
        {
            paginaActual = new();
            totalPaginas = 1;
            return;
        }

        totalPaginas = (int)Math.Ceiling(listaStock.Count / (double)registrosPorPagina);

        pagina = Math.Clamp(pagina, 1, totalPaginas);

        paginaActual = listaStock
            .Skip((pagina - 1) * registrosPorPagina)
            .Take(registrosPorPagina)
            .ToList();
    }

    void CambiarPagina(int nueva)
    {
        pagina = nueva;
        CalcularPaginacion();
    }

}
