@page "/clientes"
@inject IHttpServicio http

<link href="css/Clientes.css" rel="stylesheet" />

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="fw-bold m-0">Gestión de Clientes</h3>
    <a class="btn btn-primary" href="/registrar/cliente">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
        </svg> Nuevo cliente
    </a>
</div>


    <div class="tarjeta-clientes">
        <h6 class="text-muted m-0">Total de clientes</h6>
        <h5 class="fw-bold mt-2">@totalUsuarios</h5>
    </div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Estado</th>
            <th>Zona</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        @if (listaUsuarios == null)
        {
            <p>Buscando usuarios ...</p>
        }
        else if (listaUsuarios.Count == 0)
        {
            <p>No se encontraron usuarios cargados.</p>
        }
        @foreach (var item in listaUsuarios)
        {
            <tr>
                <td>@item.Nombre @item.Apellido</td>
                <td>@item.Telefono</td>
                <td>
                    @if (item.Estado == true)
                    {
                        <span class="text-success fw-bold">Activo</span>
                    }
                    else
                    {
                        <span class="text-danger fw-bold">Inactivo</span>
                    }
                </td>
                <td>@item.Zona</td>
                <td>
                    <a class="btn btn-success" href="@($"/clientes/historial/{item.Id}")" title="Historial pedidos">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z" />
                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z" />
                            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                    </a>
                    <a class="btn btn-warning text-white" href="@($"/clientes/cuenta-corriente/{item.Id}")" title="Deuda">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                        </svg>
                    </a>
                    <a class="btn btn-primary" href="/cliente/editar/@item.Id" title="Editar cliente">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>

@code {
    List<UserListadoDTO> listaUsuarios = new();
    UserListadoDTO usuario;
    string mensaje;
    UserListadoDTO? UsuarioBorrar = null;

    int totalUsuarios = 0;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
        await ContarUsuarios();
    }

    private async Task ContarUsuarios()
    {
        totalUsuarios = listaUsuarios.Count;
    }

    private async Task Leer()
    {
        var resp = await http.Get<List<UserListadoDTO>>("api/Cliente");
        if (!resp.Error)
        {
            listaUsuarios = resp.Respuesta;
        }
        else
        {
            mensaje = await resp.ObtenerError();
        }

    }

    private async Task Eliminar(UserListadoDTO userListadoDTO)
    {
        UsuarioBorrar = userListadoDTO;
    }

    private void Cancelar()
    {
        UsuarioBorrar = null;
    }

    private async Task Borrar()
    {
        var respuesta = await http.Delete($"api/usuarios/{UsuarioBorrar.Id}");
        if (respuesta.Error)
        {
            mensaje = "No se pudo eliminar el usuario.";
        }

        Cancelar();
        await Leer();
    }
}
