@page "/registrar"
@inject IHttpServicio http
@inject NavigationManager navigationManager
@inject IJSRuntime js
@inject ILoginService loginService

<h3>Registrar nuevo usuario</h3>

<EditForm Model="@userInfo" OnValidSubmit="CrearUsuario">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <InputText id="nombre" class="form-control" placeholder="Ejemplo: Jhon" @bind-Value="userInfo.Nombre" />
        <ValidationMessage For="@(() => userInfo.Nombre)" />
    </div>

    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <InputText id="apellido" class="form-control" placeholder="Ejemplo: Doe" @bind-Value="userInfo.Apellido" />
        <ValidationMessage For="@(() => userInfo.Nombre)" />
    </div>

    <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <InputText id="telefono" class="form-control" placeholder="+12 345-6789101" @bind-Value="userInfo.Telefono" />
        <ValidationMessage For="@(() => userInfo.Telefono)" />
    </div>

    <div class="mb-3">
        <label for="direccion" class="form-label">Dirección</label>
        <InputText id="direccion" class="form-control" placeholder="Ejemplo: Velez Sarfield 2784" @bind-Value="userInfo.Direccion" />
        <ValidationMessage For="@(() => userInfo.Direccion)" />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <InputText id="email" class="form-control" placeholder="example@example.com" @bind-Value="userInfo.Email" />
        <ValidationMessage For="@(() => userInfo.Email)" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <InputText id="password" type="password" placeholder="Ingrese su contraseña" class="form-control" @bind-Value="userInfo.Password" />
        <ValidationMessage For="@(() => userInfo.Password)" />
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
</EditForm>

@code {
    private UserInfoDTO userInfo = new();

    private async Task CrearUsuario()
    {
        var resultado = await http.Post<UserInfoDTO, UserTokenDTO>("api/Usuario/registrar", userInfo);

        if (resultado.Error)
        {
            var msg = await resultado.ObtenerError();
            await js.Confirmar(msg);
        }
        else
        {
            var token = resultado.Respuesta;
            if (token != null)
            {
                await loginService.Login(token);
                navigationManager.NavigateTo("/");
            }
            else
            {
                await js.Confirmar("No se pudo obtener el token");
            }
        }
    }
}
